clodsa==1.2.37
setuptools==40.6.2
gluoncv==0.5.0
tensorflow==2.9.3
imutils==0.5.1
tqdm==4.31.0
opencv_python==4.1.2.30
XlsxWriter==1.2.6
six==1.11.0
lxml==4.2.4
matplotlib==3.0.3
Keras==2.1.6
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keras-resnet==0.1.0
keras-retinanet==0.5.1
numpy==1.14.6
mxnet_mkl==1.6.0b20191025
pycocotools==2.0.0
Pillow==7.0.0
pyqt5==5.10.1
lxml==4.2.4
mxnet==1.5.1.post0
progressbar2==3.47.0
sip==4.19.8
scikit_learn==0.22.1
future==0.17.1
pandas==0.23.4
imageio==2.5.0
scikit-image==0.14.2
